{% extends 'base.html' %}

{% block content %}
  <h1>Creating new TIL</h1>
  <div class="row">
    <form method="post" class="col s12">
      {% csrf_token %}
      {% for field in form %}
        <div class="row">
          <div class="input-field col s12">
            {{ field.errors }}
            {{ field }}
            {{ field.label_tag }}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="input-field">
          <input class="btn" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
{% endblock %}
