{% extends 'base.html' %}
{% load markup %}
{% load humanize %}

{% block content %}
  <h2>{{ peak.title }}</h2>
  <h5>
    Created by
    {% if request.user == peak.user %}
      <a href="{% url 'peak:index_user' peak.user.username %}">you</a>
    {% else %}
      <a href="{% url 'peak:index_user' peak.user.username %}">{{ peak.user.username }}</a>
    {% endif %}
    <span class="pub_date tooltipped" data-position="right" data-delay="50" data-tooltip="{{ peak.pub_date|date:"M jS f A" }}">{{ peak.pub_date|naturaltime }}</span>
    {% if request.user == peak.user %}
      <small class="links">
        [ <a href="{% url 'peak:edit' peak.id %}">edit</a> | <a href="{% url 'peak:delete' peak.id %}">delete</a> ]
      </small>
    {% endif %}
  </h5>
  <p>
    {{ peak.description|commonmark }}
  </p>
  <hr/>
  <ul>
    {% for tag in peak.tags.all %}
      <li><a href="{% url 'peak:index_tag' tag %}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
